{
  "presets": ["env", "react"],
  "plugins": [
    ["@babel/plugin-transform-regenerator", {
      "asyncGenerators": false,
      "generators": false,
      "async": false
    }],
    ["transform-class-properties"]
  ]
}
