{
  "presets": ["env", "react"],
  "plugins": ["transform-class-properties", "transform-remove-console"]
  // "env": {
  //   "production": {
  //     "plugins": ["transform-remove-console"]
  //   }
  // }
}
