.app-form{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.order-settings{
  margin-top: 13px;
}
.app-container{
  width:100%;
  display:flex;
  flex-direction:column;
}
.app-row{
  display:flex;
  flex-direction:row;
}

.app-columns{
  width: 33%;
  margin: 10px;
}

.fieldSection{
  width: 100%;
}

input{
  font-size: 14px;
}

textarea{
  font-size: 14px;
}

@media (max-width: 767px){
  .app-form{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .app-columns{
    width: 50%;
    margin: 10px;
  }

}

@media (max-width: 440px){
  .app-form{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .app-columns{
    width: 100%;
    margin: 0px;
  }
}
