.gosell-gateway-confirm {
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.gosell-gateway-confirm-fadeIn{
  height: 0px;
  opacity: 1;
  visibility: visible;
}

.gosell-gateway-confirm-back{
  width: 100%;
  height: 65px;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  cursor: pointer;
}

.gosell-gateway-confirm-container{
  text-align: center;
  height: auto;
  width: 100%;
}
