.tap-extra-fees-container{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
   text-align: center;
  padding: 20px;
  height: auto;
  background-color: rgba(255,255,255, 0.36); */
  padding: 20px;
  background-color: rgba(255,255,255, 0.36);
}

.tap-extra-fees-title{
  text-align: center;
  margin-top: 0px;
  font-size: 17px;
  font-weight: 800;
  /* font-family: 'Roboto-Regular', sans-serif; */
}

.tap-extra-fees-msg{
  font-size: 15px;
  text-align: center;
  margin: 0;
}
