.gosell-gateway-msg{
  height: 100%;
  width: 100%;
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  align-items: center;
}

.gosell-gateway-msg-wrapper{
    /* background-color: red; */
  /* display: flex;
  flex-direction: column; */
  /* position: absolute;
  top: 42%;
  left: 46%; */
  align-items: center;
  -webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.7s; /* Safari 4.0 - 8.0 */
  animation-name: fadeIn;
  animation-duration: 0.7s;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeIn {
  0%   {opacity:0;}
  100% {opacity:1;}
}

/* Standard syntax */
@keyframes fadeIn {
  0%   {opacity:0;}
  100% {opacity:1;}
}

.gosell-gateway-msg-title{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 17px;
  color: #4b4847;
  letter-spacing: -0.08px;
  text-align: center;
}

.gosell-gateway-msg-desc{
  margin: 0 20px;
  font-size: 13px;
  color: #9D9FA4;
  letter-spacing: -0.06px;
  text-align: center;
}

@media(max-width: 440px){
  .gosell-gateway-msg-wrapper {
    display: flex;
    position: unset;
    flex-direction: column;
  }
  .gosell-gateway-msg {
    display: flex;
    flex-direction: row;
  }
}
