#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #rgba(0,0,0,0.75);
}

.circle-progress {
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 12px;
  font-weight: bold;
  fill: #fff;
}
