.tap-row-container{
  cursor: pointer;
  width: 100%;
  position: relative;
}

.tap-row{
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: relative;
}

.tap-arrow{
  width: 40px;
  height: 100%;
  pointer-events: none;
  display: inline-block;
  right: 0 !important;
  left: auto !important;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

[dir='rtl'] .tap-arrow{
  left: 0 !important;
  right: auto !important;
}

.tap-value{
  width: 65px;
  padding: 0 16px 0 16px;
  font-size: 13px;
  color: rgba(0,0,0,0.26);
  pointer-events: none;
  pointer-events: none;
}

.hidden-value{
  display: none;
}

.tap-icon{
  height: 100%;
  pointer-events: none;
  display: inline-block;
  position: absolute;
  left: 0;
  right: unset;
}

[dir="rtl"] .tap-icon{
  right: 0;
  left: 0
}

.tap-text-container{
  color: #535353;
  pointer-events: none;
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.tap-subtitle{
  margin: 0;
  font-size:13px;
  font-family: 'Roboto-Light', sans-serif;
}

.tap-title{
  margin: 0;
  font-size:20px;
  font-family: 'Roboto-Regular', sans-serif;
  line-height: 65px;
}

.tap-subtitle.title-subtitle{
  line-height: 41px;
}

.tap-title.title-subtitle{
  line-height: 0px;
}
