.tap-row-container{
  cursor: pointer;
  width: 100%;
  position: relative;
}

.tap-row{
  width: 100%;
  pointer-events: none;
  position: relative;
}

.tap-arrow{
  width: 40px;
  height: 100%;
  pointer-events: none;
  display: inline-block;
  right: 0;
  /* background-image: url(https://goselljslib.b-cdn.net/imgs/rightArrow.svg); */
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.tap-value{
  width: 65px;
  padding: 0 16px 0 16px;
  font-size: 13px;
  color: rgba(0,0,0,0.26);
  pointer-events: none;
  pointer-events: none;
}

.hidden-value{
  display: none;
}

.tap-icon{
  height: 100%;
  pointer-events: none;
  display: inline-block;
}

.tap-text-container{
  color: #535353;
  pointer-events: none;
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.tap-subtitle{
  margin: 0;
  font-size:13px;
  font-family: 'Roboto-Light', sans-serif;
}

.tap-title{
  margin: 0;
  font-size:20px;
  font-family: 'Roboto-Regular', sans-serif;
  line-height: 65px;
}
