.gosell-gateway-search-container{
  position: absolute;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gosell-gateway-search-bar{
  width:100%;
  height: 28px;
  border: none;
  border-radius: 5.5px;
  margin: 0px 5px;
  font-size:14px;
  padding:0px 5px;
  display:block;
  text-indent:25px;
}

.gosell-gateway-search-bar:focus{
   outline:none;
 }

.gosell-gateway-search-bar::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #8E8E93;
}
 .gosell-gateway-search-bar::-moz-placeholder { /* Firefox 19+ */
  color: #8E8E93;
}
 .gosell-gateway-search-bar:-ms-input-placeholder { /* IE 10+ */
  color: #8E8E93;
}
 .gosell-gateway-search-bar:-moz-placeholder { /* Firefox 18- */
  color: #8E8E93;
}

.gosell-gateway-input-icon{
  position: absolute;
  margin: 0 15px;
}

.gosell-gateway-input-title{
  margin: 0px 10px;
}
