.modal-header{
  height: fit-content;
}

/* .tap-vertical-swipeable{
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.tap-vertical-swipeable-fadeIn{
  opacity: 1;
  visibility: visible;
} */

.list-container{
  top: 40px;
  position: relative;
  overflow: scroll;
  height: 100%;
}

.modal-background-color {
    background-image: url(../imgs/thawte.svg);
    background-position: 90% 90%;
    background-repeat: no-repeat;
}

.page{
  background-image: url(../imgs/thawte.svg);
  background-position: 90% 90%;
  background-repeat: no-repeat;
}

.body-container{
  height: 100%;
}

.tap-wait{
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* .tap-hidden-section {
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.tap-visible-section{
  height: 100%;
  opacity: 1;
  visibility: visible;
} */

.tap-hidden-section {
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.tap-visible-section{
  opacity: 1;
  visibility: visible;
}


@media (max-width: 440px){
  .modal-body {
    margin-top: -1px;
    height: -webkit-fill-available;
  }

  /*.modal-header {
      height: 50px !important;
  }*/

  /*.modal-wrapper {
    margin-bottom: 70px;
  }*/

  .modal{
    top: 10px;
  }

  .supported_currencies{
    height: 100%;
    margin-bottom: -4px;
    overflow: hidden;
  }

  .list-container{
    height: 82%;
  }
}
